.app {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    color: rgb(31, 30, 44);
    max-height:90%;
    padding: 10px;
    background-color: rgb(243, 247, 255);
    border-radius: 10px;
}

.title {
    padding-left: 25px;
    padding-bottom: 5px;
}

body {
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(91 111 150)
}